.editor {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.header {
    display: flex;
    padding: 10px 15px;
    gap: 10px;
}

.main-content {
    display: flex;
    flex-grow: 1;
}
