.console {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background: #000;
    padding: 10px;
}

.clear-button {
    position: absolute;
    width: min-content;
    right: 0;
    opacity: 0.8;
    font-size: 1rem;
}

.clear-button:after {
    content: '';
    width: 3px;
    background: white;
    height: 3px;
}

.console-control-container {
    display: flex;
    border-top: 1px solid var(--main-border)
}

.console-input {
    flex-grow: 1;
    border: none;
    background: none;
    outline: none;
    padding-top: 10px;
}

.output {
    flex-grow: 2;
    overflow: auto;
}