html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

body {
    background: var(--secondary-background);
    height: 100%;
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}


@media screen and (max-width: 426px) {
    #root {
        padding: 0;
    }
}