@media (prefers-color-scheme: dark) {
    :root {
        --accent-success: #27C93F;
        --accent-success-hover: #44c557;
        --accent-fail: #f63f3f;
        --accent-fail-hover: #ff5050;
        --main-background: #10131a;
        --main-foreground: #D4D4D4;
        --secondary-background: #08090e;
        --main-link: #AFCFEA;
        --main-border: #3c3c44;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --accent-success: #27C93F;
        --accent-success-hover: #44c557;
        --accent-fail: #f63f3f;
        --accent-fail-hover: #ff5050;
        --main-foreground: #10131a;
        --main-background: #e0e0ee;
        --main-border: #3c3c44;
    }
}


.bg-dark {
    background: var(--main-background);
}

.bg-success {
    background-color: var(--accent-success);
}

.bg-success:hover {
    background-color: var(--accent-success-hover);
}

.bg-failed {
    background-color: var(--accent-fail);
}

.bg-failed:hover {
    background-color: var(--accent-fail-hover);
}

.bg-darker {
    background-color: #0d0f15;
}

.bg-tr {
    background-color: transparent;
}

.fg-main {
    color: var(--main-foreground);
}

.fg-accent {
    color: white;
}

.fg-link {
    color: var(--main-link)
}