.rounded {
  border-radius: 7px;
}

.dark-bg {
  background: var(--main-background);
}

.darker-bg {
  background: #0d0f15;
}

.main-fg {
  color: var(--main-foreground);
}

.hidden {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  z-index: -9999;
}

.monospaced {
  font-family: "Cascadia Code", monospace;
  font-size: 18px;
}

.flex {
  display: flex;
}

.reset {
  border: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-success: #27C93F;
    --accent-success-hover: #44c557;
    --accent-fail: #f63f3f;
    --accent-fail-hover: #ff5050;
    --main-background: #10131a;
    --main-foreground: #D4D4D4;
    --secondary-background: #08090e;

    --main-border: #3c3c44;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-success: #27C93F;
    --accent-success-hover: #44c557;
    --accent-fail: #f63f3f;
    --accent-fail-hover: #ff5050;
    --main-foreground: #10131a;
    --main-background: #e0e0ee;
    --main-border: #3c3c44;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
