.userCard {
    display: inline-flex;
    gap: 0 10px;
    align-items: center;
    color: var(--main-foreground);
}

.avatar {
    --size: 45px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}

.username {
    font-family: "Cascadia Code", monospace;
    font-size: 1em;
}


@media screen and (max-width: 767px){
    .username {
        display: none;
    }
}